# DATABASE
DATABASE_URL='1'

# RESEND 
RESEND_API_KEY='1'

# AUTH
NEXTAUTH_SECRET='1'
NEXTAUTH_URL='1'

# OAUTH
GOOGLE_CLIENT_ID='1'
GOOGLE_CLIENT_SECRET='1'
GITHUB_CLIENT_ID='1'
GITHUB_CLIENT_SECRET='1'
APPLE_CLIENT_ID='1'
APPLE_CLIENT_SECRET='1'